.MoviesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
  background: white;
  padding: 20px 0;
  @media (max-width: 996px) {
    display: flex;
    flex-direction: column;
  }
}
